%html
  %head
    %title
      = @title.to_s.empty? ? '名古屋市生涯学習センター横断検索' : "#{@title} - 名古屋市生涯学習センター横断検索"
    %meta{"http-equiv"=>'content', :content=>'text/html; charset=utf-8'}
    %link{:rel=>'stylesheet',
          :href=>'/css/ui-lightness/jquery-ui-1.8.5.custom.css',
          :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/style.css', :type => "text/css"}
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js",
            :type=>"text/javascript"}
    %script{:src=>"/js/jquery-ui-1.8.5.custom.min.js",
            :type=>"text/javascript"}
    %script{:src=>"/main.js", :type=>"text/javascript"}
  %body
    .content
      .main
        %h1
          = @title.to_s.empty? ? '名古屋市生涯学習センター横断検索' : "#{@title} - 名古屋市生涯学習センター横断検索"
        = yield
